RewriteEngine On

RewriteRule ^view/(back|front)end/([a-zA-Z\/.])+$ index.php?action=forbidden

RewriteRule ^model/([a-zA-Z\/.])+$ index.php?action=forbidden

RewriteRule ^controller/([a-zA-Z\/.])+$ index.php?action=forbidden

RewriteRule ^view/template.php$ index.php?action=forbidden
