/* Template */

html{
    height : 100%;
} 
body{
    font-family : 'Roboto condensed', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

} 
nav {
    height : 50px;
    background-color: black;
    display: flex;
    font-family: "Nova Flat", "sans-serif";
}
nav a {
    padding: 0 10px 0 10px;
    display: block;
    line-height: 50px;
    color: gray;
}
#logo {
    display: flex;
    font-size: 1.4em;
    font-family: "Rock Salt", "sans-serif";
}
#menu{
    display: flex;
    justify-content: flex-end;
    flex: auto;
}
nav a {
    text-decoration : none;
}
nav a:hover {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}
nav a:visited {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}
#welcome a{
    cursor: default;
}
.boutons {
    background-color: #4EB1D5;
    color: #FFFFFF;
    border-radius: 3px;
    display: block;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    margin: auto;
    margin-top : 10px;
    margin-bottom : 10px;
}
.message{
    background-color: gray;
    text-align: center;
    color : white;
    font-size : 1.4em;
    text-transform: uppercase;
    font-family: "Nova Flat", "sans-serif";
}
.messageActive{
    border : 2px solid black;
}

/* Page d'accueil */

#presentation {
    text-align: center;
    color : black;
    text-transform: uppercase;
    font-size: 1.4em;
}
#presentation h1{
    text-transform: none;
    font-family: 'Nova Flat', 'cursive';
}
#body_home{
    background-color : gray;
    position: relative;
}
#portfolio
{
	display: flex;
    flex-wrap : wrap;
	justify-content: space-around;
    width: 100%;
    text-align: center;
}
#portfolio figure
{
	height: 200px;
	position: relative;
    width: 350px;
    margin : 16px 20px 16px 20px;
    background-color: skyblue;
    border : 3px solid white;
    overflow: hidden;
}   
#portfolio figure img
{
	height: 100%;
    width: 100%;
    transform: scale(1.5);
    transition : 1s;
}
#portfolio figure img:hover
{
    transform: scale(1);
}
#portfolio figcaption
{
    background: rgba(0,0,0,0.4);
    border-top: 2px solid white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    transition : 0.7s;
    bottom:0;
    color:transparent;
    visibility: hidden;
    height: 0;
    left:0;
    position:absolute;
    right:0;
    font-size: 1.3em;
}

#portfolio figure:hover figcaption
{
    visibility: visible;
    animation: slidein 3s infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 35%;
}

@keyframes slidein {
    100% {
      color: white;
    }
  }

#portfolio figcaption .title_portfolio
{
    display : inline-block;
    padding-top : 5px;
	margin-left: 10px;
}
#portfolio figcaption p
{
	font-size: 0.9em;
	margin-top: 5px;
	margin-left: 10px;
}
.boutonsAdmin
{
    background-color: #111;
    color: white;
	border-bottom: 3px solid #fff;
	padding: 10px;
    position: absolute;
    z-index: 1000;
    transition: 0.8s;
}
.boutonsAdmin:hover{
    font-size: 1.4em;
}
#boutonModifier{

    right: 0px;
    border-left: 3px solid #fff;
}
#boutonSupprimer
{
    left: 0px;
    border-right: 3px solid #fff;
}
/* Page de connexion */

#body_Connexion {
    background : url("../../public/images/background/background_connexion.jpg") no-repeat fixed center;
    height: 100%;
}
#body_Connexion form{
    font-size : 1.3em;
    text-align: center;
    font-family : "Nova Flat", sans-serif;
}
#body_Connexion form a{
    color : gray;
    font-weight: bold;
    text-shadow: -1px 0 black;
}
#body_Connexion form label{
    color: white;
}

/* Page d'ajout et de modification de billet */

#body_Modif{
    background : url("../../public/images/background/background_modification.jpg") no-repeat fixed center;
}
#body_Modif h1{

    text-align: center;
    color : white;
    text-transform: uppercase;
    font-size : 1.5em;
}
#body_Modif form{
    text-align: center;
    width : 70%;
    margin: auto;
    color: white; 
    font-size : 1.2em;
    font-family : "Nova Flat", sans-serif;
}
#imageUpdate{
    width: 100px;
    height : 100px;
}
input[name="title"]{
    color: black;
    text-align: center;
}
input[name="avatar"]{
    color: white;
}
#oldBloc{
    margin-bottom: 20px;    
}

/* Page article + comments */

#post_wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top : 40px;
    color: black;
    padding-bottom: 30px;
}
#billet {
    font-family: 'Nova Flat', 'cursive';
    font-size: 1.2em;
    width: 80%;
    margin: auto; 
    padding : 15px;
    background-color: white;
    word-break: break-all;
}
#body_post input{
    width : 250px;
    border : 2px solid black;
}
#body_post label{
    font-size : 1.4em;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
}
#body_post textarea{
    width : 60%;
    height : 200px;
    border : 2px solid black;
}
#body_post .titleComments {
    text-transform: uppercase;
    text-shadow: 3px 2px white;
}
#comments{
    width: 70%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    font-size: 1.2em;
    padding: 10px; 
}

/* Page Admin */

#body_Admin{
    background-color : gray;
}
#body_Admin h1 {
    text-align: center;
}
.instructions_Admin{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size : 1.5em;
    margin-top: 15px;
}
.instructions_Admin a {
    width : 150px;
    font-size : 0.8em;
    padding: 7px;
}
.instructions_Admin div {
    display: flex;
}
#boutons_Admin {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#boutons_Admin a{
    margin-right: 10px;
}
#tableauAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
}
#tableauAdmin div {
    width: 33%;
    text-align: center;
}
#list_Comment{
    margin-bottom : 20px;
    padding-bottom: 10px;
    text-align: center;
    color : black;
    font-size : 1.3em;
}
.pagination{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100px;
    margin: auto;
}
.pagination div{
    font-size : 1.5em;
    font-weight: bold;
    width: 30px;
    background-color: black;
    color: white;
}
.pagination a{
    color: red;
}
#body_AdminComments{
    background-color : gray;
}
#tableauAdmin p{
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

/* Page changement accès */

#body_Access{
    background : url("../../public/images/background/background_access.jpg") no-repeat fixed center;
    background-size: cover;
    color: white;
    height: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#body_Access h1{
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
}
#body_Access input{
    width: 70%;
}
#body_Access input[type="submit"]{
    width: 100px;
}
#body_Access form{
    background-color: black;
    opacity: 0.9;
    width: 60%;
    height:auto;
    font-size: 1.3em;
    font-family : "Nova Flat", sans-serif;
}
.inputBox{
    display: block;
    color: black;
    text-align: center;
    width: 50%;
    margin :20px;
}
.inputBox input{
    text-align: center;
}
.labelBox{
    width: 50%;
    display: block;
    text-align: center;
    margin : 20px;
}
.formBox{
    display: flex;
}
/* Page erreur */

#body_Error {
    background-color: gray;
    font-size: 1.5em;
    text-align: center;
    height: 100%;
}
.flexbox_Center{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkBox{
    text-align: center;
}
.blocPass{
    visibility: hidden;
}
.cible_Erreur{
    animation: colorblink 1s infinite;
}
@keyframes colorblink { 
    0% { }
    100% { color:red; } 
}

/*  Media Queries */

@media screen and (max-width: 768px) {
    nav {
        height: initial;
        display: block;
        text-align: center;
    }
    #menu{
        flex-direction: column;
        text-transform: uppercase;
    }
    #logo{
        display: block;
    }
    #tableauAdmin {
        flex-direction: column;
    }
    #tableauAdmin div {
        width: initial;
    }
    .instructions_Admin div{
        display: initial;
    }
    #comments{
        width : 50%;
    }
    .formBox{
        display: initial;
    }
    .labelBox{
        margin: auto;
    }
    .inputBox{
        margin: auto;
    }
  }
