html {
    height : 100%;
} 
body {
    font-family : 'Roboto condensed', 'sans-serif';
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 


/* TEMPLATE */

header {
    height : auto;
    background-color: black;
    display: flex;
    font-family: "Nova Flat", "sans-serif";
    position: relative;
    z-index: 2000;
}
header a {
    padding: 0 10px 0 10px;
    display: block;
    line-height: 50px;
    color: gray;
}
#logo {
    display: flex;
    font-size: 1.4em;
    font-family: "Rock Salt", "sans-serif";
}
#nav {
    display: flex;
    justify-content: flex-end;
    flex: auto;
}
#nav a {
    font-size : 1.2em;
    color: white;
}
.topback a {
    text-decoration : none;
}
.topback a:hover {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}
.topback a:visited {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}
#welcome a {
    cursor: default;
}
.boutons {
    background-color: #4EB1D5;
    color: #FFFFFF;
    border-radius: 3px;
    display: block;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    margin: auto;
    margin-top : 10px;
    margin-bottom : 10px;
}
@-webkit-keyframes monanimation { 
    0% {
     transform: translateY(-100%);
    }
    10% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(0%);
    }
    60% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
}  
@keyframes monanimation { 
    0% {
     transform: translateY(-100%);
    }
    10% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(0%);
    }
    60% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
}  
.message {    
    background-color: gray;
    border-bottom-style: solid;
    border-bottom-width : 3px;
    border-bottom-color : white;
    display: none;
    text-align: center;
    color : white;
    font-size : 1.4em;
    text-transform: uppercase;
    font-family: "Nova Flat", "sans-serif";
    -webkit-animation: monanimation linear 6s; 
    animation: monanimation linear 6s; 
}
footer{
    background-color: black; 
}
footer a{
    text-align: center;
    line-height: 30px;
    font-size: 21px;
    padding: 5px;
    width: 100%;
    border-right: 3px solid gray;
    font-family: 'Nova Flat', 'sans-serif';
    white-space: nowrap;
}
#bloc_Footer{
    display: flex;
    justify-content: space-around; 
}
.text_Footer{
    display: none;
    animation: footer_animation linear 1s;
    -webkit-animation: footer_animation linear 1s;
}
footer a:hover .text_Footer{
    display: inline-block;
}
@-webkit-keyframes footer_animation { 
    0% {
     opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}  
@keyframes footer_animation { 
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
       }
} 

/* PAGE D'ACCUEIL*/

#presentation {
    text-align: center;
    color : black;
    text-transform: uppercase;
    font-size: 1.4em;
}
#presentation h1 {
    text-transform: none;
    font-family: 'Nova Flat', 'cursive';
}
#body_home { 
    background-color: gray;
    position: relative;
}
.message_data{
    font-size: 1.8em;
    font-family: 'Nova Flat', 'sans-serif';
    text-align: center;
    text-transform: uppercase;
}
#portfolio {
	display: flex;
    flex-wrap : wrap;
	justify-content: space-around;
    width: 100%;
    text-align: center;
}
#portfolio figure {
	height: 200px;
	position: relative;
    width: 350px;
    margin : 16px 20px 16px 20px;
    background-color: skyblue;
    border : 3px solid white;
    overflow: hidden;
}   
#portfolio figure img {
	height: 100%;
    width: 100%;
    transform: scale(1.5);
    transition : 1s;
}
#portfolio figure img:hover {
    transform: scale(1);
}
#portfolio figcaption {
    background: rgba(0,0,0,0.4);
    border-top: 2px solid white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    transition : 0.7s;
    bottom:0;
    color:transparent;
    visibility: hidden;
    height: 0;
    left:0;
    position:absolute;
    right:0;
    font-size: 1.3em;
}
#portfolio figure:hover figcaption {
    visibility: visible;
    -webkit-animation: slidein 3s infinite;
    animation: slidein 3s infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 35%;
}
@keyframes slidein {
    100% {
      color: white;
    }
}
@-webkit-keyframes slidein {
    100% {
      color: white;
    }
}
#portfolio figcaption .title_portfolio {
    display : inline-block;
    padding-top : 5px;
	margin-left: 10px;
}
#portfolio figcaption p {
	font-size: 0.9em;
	margin-top: 5px;
	margin-left: 10px;
}
.boutonsAdmin {
    background-color: #111;
    color: white;
	border-bottom: 3px solid #fff;
	padding: 10px;
    position: absolute;
    z-index: 1000;
    transition: 0.8s;
}
.boutonsAdmin:hover {
    font-size: 1.4em;
}
#boutonModifier {
    left: 0px;
    border-right: 3px solid #fff;
}
#boutonSupprimer {
    right: 0px;
    border-left: 3px solid #fff;
}

/* PAGE DE CONNEXION */

#body_Connexion {
    background : url("../../public/images/background/background_connexion.jpg") no-repeat fixed center;
    height: 100%;
}
#body_Connexion form {
    font-size : 1.6em;
    text-align: center;
}
#body_Connexion form a {
    font-size : 0.7em;
    text-transform: uppercase;
    color : white;
    font-weight: bold;
    text-shadow: -1px 0 black;
}
#body_Connexion form input[type="text"],input[type="password"] {
    margin: 10px 0px 10px 0px;
    width: 80%;
    height: 25px;
    font-size: 1em;
}
#body_Connexion input[type="submit"] {
    text-transform: uppercase;
}
#body_Connexion form label {
    color: white;
    font-family : "Nova Flat", "sans-serif";
}

/* Page d'ajout et de modification de billet */

#body_Modif {
    background : url("../../public/images/background/background_modification.jpg") no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#body_Modif h1 {
    margin: 0;
    text-align: center;
    color : white;
    text-transform: uppercase;
    font-size : 3em;
    font-family: 'Nova Flat', 'sans-serif';
}
.formtiny {
    background-color: black;
    color: white;
    opacity: 0.9;
    font-size: 1.3em;
    font-family : "Nova Flat", "sans-serif";
    width: 80%;
    padding: 30px;
    text-align: center;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    border: none;
}
.custom-file-upload:hover span{
    color: gray;
}
#update-file-upload {
    display: none;
}
#imageUpdate {
    width: 100px;
    height : 100px;
}
#body_Modif .input_text {
    color: black;
    text-align: center;
    height: 25px;
    margin : 10px 0px 10px 0px;
    width: 40%;
    font-size: 1em;
}
#body_Modif input[name="id"]{
    width : 50px;
}
#body_Modif input[name="title"]{
    margin-bottom: 15px;
}
#body_Modif input[type="submit"]{
    cursor: pointer;
    text-transform: uppercase;
}

input[name="avatar"] {
    color: white;
}
#oldBloc {
    margin-bottom: 20px;    
}

/* PAGE POST */

#post_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top : 40px;
    color: black;
}
#billet {
    font-family: 'Nova Flat', 'cursive';
    font-size: 1.2em;
    width: 85%;
    margin: auto; 
    padding: 15px;
    background-color: white;
    border-radius: 30px;
    border : 3px solid black;
    word-break: break-word;
}
#body_post input[type="text"] {
    width : 70%;
    border : 2px solid black;
}
#body_post label {
    font-size : 1.4em;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
}
#body_post textarea {
    width : 90%;
    height : 200px;
    border : 2px solid black;
}
#body_post form {
    width: 90%;
    margin: auto;
}
#body_post .titleComments {
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 3px 2px white;
}
#blocComments {
    display: flex;
    width: 95%;
    margin: auto;
    padding: 15px;
}
#addComments {
    width: 40%;
    position: sticky;
    -webkit-position: sticky; 
    align-self: flex-start;
    top: 0;
}
#readComments {
    width: 60%;
}
#comments {
    width: 95%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border: 3px solid black;
    font-size: 1.2em;
    padding: 10px; 
    word-break: break-word;
}

/* PAGE ADMIN */

#body_Admin {
    background : url("../../public/images/background/escheresque-dark.png") fixed center;
    background-color: black;
}
#body_Admin h1 {
    text-align: center;
}
.instructions_Admin {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size : 1.5em;
    margin-top: 15px;
}
.instructions_Admin a {
    width : 150px;
    font-size : 0.8em;
    padding: 7px;
}
.instructions_Admin div {
    display: flex;
}
#boutons_Admin {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#boutons_Admin a {
    margin-right: 10px;
}
#tableauAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    color : white;
}
#tableauAdmin div {
    width: 33%;
    text-align: center;
}
#list_Comment {
    margin-bottom : 20px;
    padding-bottom: 10px;
    text-align: center;
    color : white;
    font-size : 1.3em;
}
.pagination {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100px;
    margin: auto;
}
.pagination div {
    font-size : 1.5em;
    font-weight: bold;
    width: 30px;
    background-color: black;
    color: white;
}
.pagination a {
    color: red;
}
#body_AdminComments {
    background-color : black;
    color : white;
    background-image : url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
}
#body_AdminComments #list_Comment p:nth-child(0n+1) {
    padding-top: 5px;
    text-transform: uppercase;
}
#body_AdminComments #list_Comment p:nth-child(0n+2) {
    border : 2px solid white;
}
#body_AdminComments #list_Comment {
    border : 2px solid white;
}
hr {
    width: 60%;
    border-top: 3px double #8c8b8b;
}
#tableauAdmin p {
    padding-left: 5px;
    padding-right: 5px;
}

.instructions_Admin .boutons {
    border : 3px solid white;
}
.instructions_Admin p {
    font-family: 'Nova Flat', 'sans-serif';
}
#boutons_Admin .boutons {
    border : 3px solid white;
}

/* PAGE CHANGEMENT ACCES */

#body_Access {
    background : url("../../public/images/background/background_access.jpg") no-repeat fixed center;
    background-size: cover;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.flexboxForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#body_Access h1 {
    text-align: center;
    margin: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
}
#body_Access input {
    width: 70%;
    margin: auto;
}
#body_Access input[type="submit"] {
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
}
#body_Access form {
    background-color: black;
    opacity: 0.9;
    font-size: 1.3em;
    font-family : "Nova Flat", sans-serif;
    padding: 60px;
}
#body_Access #checkBox {
    margin : 0px 5px 0px 5px;
}
.inputBox {
    display: block;
    color: black;
    width: 60%;
    margin :20px;
    text-align: center;
    height: 25px;
    font-size: 1em;
}
.labelBox {
    width: 40%;
    display: block;
    text-align: center;
    margin : 20px;
}
.formBox {
    display: flex;
    margin-right: 10px;
}
/* PAGE ERREUR */

#body_Error {
    background-color: gray;
    font-size: 1.5em;
    text-align: center;
    height: 100%;
}
.flexbox_Center {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkBox {
    text-align: center;
}
.blocPass {
    visibility: hidden;
}

/*  MEDIA QUERIES */

@media screen and (max-width: 1026px) {
    header {
        flex-direction: column;
    }   
}
@media screen and (max-width: 637px) {
    #nav {
        flex-direction: column;
        text-transform: uppercase;
    }
    #bloc_Footer{
        flex-direction: column;
        align-items: center;
    }
    #bloc_Footer a{
        border: none;
        padding: 10px 0px 10px 0px;
    }
    header {
        height: initial;
        display: block;
        text-align: center;
    }
    #nav a {
        font-size: 1em;
    }
    #logo {
        display: block;
    }
    .message_data{
        font-size: 1em;
    }
}
@media screen and (max-width: 567px) {
    #body_post input {
        width: auto;
    }
    #billet {
        padding: 0;
    }
    #tableauAdmin {
        flex-direction: column;
        border : 3px solid white;
        margin-bottom: 5px;
    }
    #tableauAdmin div {
        width: initial;
    }
    .instructions_Admin div {
        display: initial;
        word-break: break-all;
    }
    .instructions_Admin a {
        margin: auto;
        margin-bottom : 5px;
    }
    #boutons_Admin {
        flex-direction: column;
    }
    #blocComments {
        display: block;
        padding: 0;
    }
    #addComments {
        position: initial;
        width: 100%;
    }
    #readComments {
        width: 100%;
    }
    .formBox {
        display: initial;
    }
    .labelBox {
        margin: auto;
    }
    .inputBox {
        margin: auto;
        width: 100%;
        margin-top: 10px;
    }
    #body_Access form {
        width: 100%;
        padding: 20px 0px 0px 0px;
    }
    #body_Access h1 {
        font-size: 1em;
    }
    .flexboxForm {
        align-items: initial;
    }
    #body_Modif input[name="title"] {
        width: 80%;
    }
    #body_Modif h1 {
        font-size: 1.5em;
        margin: 15px 0px 15px 0px;

    }
    .formtiny {
        width: 100%;
        padding: 5px;
    }
    .boutons {
        word-break: break-word;
    }
}