/* Template */

html{
    height : 100%;
} 
body{
    font-family : 'Roboto condensed', sans-serif;
    height: 100%;

} 
.navbar-brand{
    font-family: 'Nova Flat', cursive;

}   
.page-footer {
    padding-top: 10px;
    background-color : #333;
    text-align: center;
    margin-top: 30px;
}
.page-footer p{
    color : white;
}
.navbar{
    margin-bottom : 0;
    text-transform: uppercase;
}
.boutons {
    background-color: #4EB1D5;
    color: #FFFFFF;
    border-radius: 3px;
    display: block;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    margin: auto;
    margin-top : 10px;
}
.message{
    background-color: gray;
    text-align: center;
    border : 2px solid black;
    color : white;
    font-size : 1.4em;
}

/* Page d'accueil */

#presentation {
    text-align: center;
    color : black;
    text-transform: uppercase;
    font-size: 1.4em;
}
#presentation h1{
    text-transform: none;
}
#body_home{
    background-color : gray;
}
#portfolio
{
	display: flex;
    flex-wrap : wrap;
	justify-content: space-around;
    width: 100%;
    text-align: center;
}
#portfolio figure
{
	height: 200px;
	position: relative;
    width: 350px;
    margin : 16px 20px 16px 20px;
    background-color: skyblue;
    border : 2px solid black;
}
#portfolio figure img
{
	height: 100%;
    width: 100%;
   
}
#portfolio figcaption
{
    background: rgba(0,0,0,0.4);
    bottom:0;
    color:#fff;
    display: none;
    height: 0;
    left:0;
    position:absolute;
    right:0;
    font-size: 1.3em;
}
#portfolio figure:hover figcaption
{
	display: block;
	height: 35%;
}
.oeil
{
	background-color: #4EB1D5;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	padding: 10px;
	position: absolute;
	right: 10px;
	top: -20px;
}
#portfolio figcaption .title_portfolio
{
    display : inline-block;
    padding-top : 5px;
	margin-left: 10px;
}
#portfolio figcaption p
{
	font-size: 0.9em;
	margin-top: 5px;
	margin-left: 10px;
}

/* Page de connexion */

#body_Connexion {
    background : url("../../public/images/background/background_connexion.jpg") no-repeat fixed center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#body_Connexion form{
    font-size : 1.3em;
    text-align: center;
}

/* Page d'ajout et de modification de billet */

#body_Modif{
    background : url("../../public/images/background/background_modification.jpg") no-repeat fixed center;
}
#body_Modif .page-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#body_Modif h1{

    text-align: center;
    color : white;
    text-transform: uppercase;
    font-size : 2em;
}
#body_Modif form{
    text-align: center;
    width : 100%;
    color: white; 
    font-size : 1.2em;
}
#body_Modif input {
    color : black;
}

/* Page article + comments */

#body_post{
background : url("../../public/images/background/background_post.jpg") no-repeat fixed center;
}
#post_wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top : 40px;
    color: black;
}
#billet {
    font-family: 'Nova Flat', cursive;
    font-size: 1.2em;
}
.post{
    background: rgba(255,255,255,0.8);
    border : 2px solid white;
    padding-bottom : 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#body_post input{
    width : 250px;
    border : 2px solid black;
}
#body_post label{
    font-size : 1.4em;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
}
#body_post textarea{
    width : 50%;
    height : 200px;
    border : 2px solid black;
}
#body_post h2 {
    text-transform: uppercase;
    text-shadow: 3px 2px white;
}
#comments{
    width: 75%;
    margin: auto;
    margin-top: 30px;
    font-size: 1.2em;
}

/* Page Admin */

#body_Admin{
    background-color : gray;
}
#body_Admin h1 {
    text-align: center;
}
.instructions_Admin{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size : 1.5em;
    margin-top: 15px;
}
.instructions_Admin a {
    width : 150px;
    font-size : 0.8em;
}
#boutons_Admin {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#boutons_Admin a{
    margin-right: 10px;
}
#tableauAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
}
#tableauAdmin div {
    width: 33%;
    text-align: center;
}
#list_Comment{
    margin-bottom : 20px;
    padding-bottom: 10px;
    text-align: center;
    color : black;
    font-size : 1.3em;
}
.pagination{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100px;
    margin: auto;
}
.pagination div{
    font-size : 1.5em;
    font-weight: bold;
    width: 30px;
    background-color: black;
    color: white;
}
.pagination a{
    color: red;
}
#body_Admin .page-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#body_AdminComments{
    background-color : gray;
}
/* Page erreur */

#body_Error {
    background-color : gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5em;
    text-align: center;
}

/*  Media Queries */

@media screen and (max-width: 768px) {
    .navbar-header a {
      width: 100%;
      text-align: center;
    }
    .nav{
        text-align: center;
    }
    #body_Modif .page-footer{
        position: initial;
    }
    #body_Admin .page-footer{
        position: initial;
    }
    #tableauAdmin {
        flex-direction: column;
    }
    #tableauAdmin div {
        width: initial;
    }
    #billet{
        width: 70%;
    }
    #comments{
        width : 50%;
    }
  }
